In [2]:
import unittest
import pandas as pd

In [3]:
from devanalyst.simulation.businessObjects import ReleaseCycleContext

from devanalyst.simulation.simulationModels import ModelsConfig, DefaultCostModel, GreedyAllocationModel

importing Jupyter notebook from c:\users\aleja\documents\code\chateauclaudia-labs\devanalyst\devanalyst\simulation\businessObjects.ipynb
importing Jupyter notebook from c:\users\aleja\documents\code\chateauclaudia-labs\devanalyst\devanalyst\simulation\statics.ipynb
importing Jupyter notebook from c:\users\aleja\documents\code\chateauclaudia-labs\devanalyst\devanalyst\simulation\simulationModels.ipynb

In [4]:
import devanalyst.simulation.tests.test_utils as tu_
from devanalyst.simulation.tests.test_utils import ExpectedOutputCleaner

importing Jupyter notebook from c:\users\aleja\documents\code\chateauclaudia-labs\devanalyst\devanalyst\simulation\tests\test_utils.ipynb
importing Jupyter notebook from c:\users\aleja\documents\code\chateauclaudia-labs\devanalyst\devanalyst\simulation\generateTimecards.ipynb

<h1>test_FOO: template for tests that produce a DataFrame output </h1>
<li> Copy to create a new test, and replace 'FOO' by the name of your test.
<li> Implement test logic in test_FOO()
<li> To create expected output once test logic is producing right output, temporarily uncomment the call to createExpectedOutput, call it, and comment it again. This saves expected output as a CSV file so subsequent runs of the test can load it and verify that the test still produces the same output as before.
<li> Uncomment lines that load expected output and remove the dummy line next to it creating a dummy expected output.
<li> Display the outputs for convenience in debugging when test fails.

In [5]:
# Implement test logic, and run it

#Test logic
def test_FOO():
    output = {}
    RELEASE_DURATION = 125
    SPRINT_DURATION = 10

    # Configure models
    modelsConfig = ModelsConfig([DefaultCostModel()], [], GreedyAllocationModel()) 
    modelsConfig.random.reset(271)

    teams_df, stories_df, globalRepo = tu_.initTestData(tu_.DEV_DF, tu_.PM_DF, \
                                                        RELEASE_DURATION, SPRINT_DURATION, modelsConfig)
    modelsConfig.globalRepo = globalRepo
    TEAM_ID = 'Team A'
    SPRINT = 1
    modelsConfig.context = ReleaseCycleContext(TEAM_ID, SPRINT, SPRINT_DURATION)
    
    date1 = pd.Timestamp(2019,3,28)
    pubs1 = ['magazine', 'novel', 'textbook']
    date2 = pd.Timestamp(2019, 1,27)
    pubs2 = ['NY Times', 'The Atlantic', 'WSJ']
    dummyA_df = pd.DataFrame({'A': [45.123456789, 34.123456789], 'Date': [date1, date2], 'Publications': [pubs1, pubs2]})
    dummyB_df = pd.DataFrame({'B': [2333.123456789, 3984.123456789]})
    
    output['Dummy_A'] = dummyA_df
    output['Dummy_B'] = dummyB_df

    return output

# Run the test
test_FOO_ACTUAL = test_FOO()

In [6]:
# Uncomment to update expected output to match the actual one

# Helper method
def create_FOO_EXPECTED():
    tu_.createExpectedOutput(test_FOO_ACTUAL['Dummy_A'],    'test_FOO.Dummy_A')
    tu_.createExpectedOutput(test_FOO_ACTUAL['Dummy_B'],    'test_FOO.Dummy_B')

# Uncomment to update expected output to match the actual one, and then put the comment back
#create_FOO_EXPECTED()

In [7]:
# Load expected output, update the EXPECTED and ACTUAL dictionaries, and check test is OK
list_cols_A = ['Publications'] # Lists are loaded as strings, so require special processing on load
list_cols_B = []
test_FOO_EXPECTED = {}

test_FOO_EXPECTED['Dummy_A']      = tu_.loadExpectedOutput('test_FOO.Dummy_A', list_cols_A)
test_FOO_EXPECTED['Dummy_B']      = tu_.loadExpectedOutput('test_FOO.Dummy_B', list_cols_B)

# Rounding inaccuracies in saving and loading CSV will create an artificial mismatch between ACTUAL and EXPECTED
# So round EXPECTED and ACTUAL to 6 decimal places for sensitive fields (any float)
ExpectedOutputCleaner.cleanRoundingNoise(['A'],
                                        ['Dummy_A'],
                                        test_FOO_EXPECTED,
                                        test_FOO_ACTUAL)
ExpectedOutputCleaner.cleanRoundingNoise(['B'],
                                        ['Dummy_B'],
                                        test_FOO_EXPECTED,
                                        test_FOO_ACTUAL)


# Dates are loaded as strings, not pd.Timestamps, so to avoid spurious mismatches between ACTUAL (which 
# represents dates as pd.Timestamps) and EXPECTED, convert the EXPECTED dates into pd.Timestamps
ExpectedOutputCleaner.standardizeDates(['Date'],
                                      ['Dummy_A'],
                                      test_FOO_EXPECTED)

tu_.EXPECTED['test_FOO.Dummy_A']        = test_FOO_EXPECTED['Dummy_A']
tu_.EXPECTED['test_FOO.Dummy_B']        = test_FOO_EXPECTED['Dummy_B']

tu_.ACTUAL['test_FOO.Dummy_A']          = test_FOO_ACTUAL['Dummy_A']
tu_.ACTUAL['test_FOO.Dummy_B']          = test_FOO_ACTUAL['Dummy_B']

tu_.testOK('test_FOO.Dummy_A'), \
tu_.testOK('test_FOO.Dummy_B'), \

(True, True)

In [23]:
test_FOO_ACTUAL['Dummy_A']

           A       Date                   Publications
0  45.123457 2019-03-28    [magazine, novel, textbook]
1  34.123457 2019-01-27  [NY Times, The Atlantic, WSJ]

In [14]:
test_FOO_EXPECTED['Dummy_A']

           A       Date                   Publications
0  45.123457 2019-03-28    [magazine, novel, textbook]
1  34.123457 2019-01-27  [NY Times, The Atlantic, WSJ]

In [15]:
test_FOO_ACTUAL['Dummy_B']

             B
0  2333.123457
1  3984.123457

In [16]:
test_FOO_EXPECTED['Dummy_B']

             B
0  2333.123457
1  3984.123457

<h1>Run all the tests in this notebook</h1>

In [19]:
# Uncomment to run all the tests defined in this notebook
#unittest.main(argv=[''], verbosity=2, exit=False)